# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\melvy\Desktop\Application\Drive\HEIG_VD\4em semestre\RES\Teaching-HEIGVD-RES-2021-Labo-SMTP\PrankMailRobot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
